# General requirements
numpy
matplotlib
ipython
tqdm

# PyTorch and torchvision with CUDA support
torch==2.0.1+cu118
torchvision==0.15.2+cu118
torchaudio==2.0.1

# dotenv for environment variables
python-dotenv
pytest

# Image generation
PIL
arabic_reshaper
PyICU
python-bidi

# OCR for testing
opencv-python
easyocr
pillow
