# General requirements
numpy
matplotlib
ipython
tqdm

# PyTorch and torchvision
torch
torchvision

# dotenv for environment variables
python-dotenv
pytest

#image generation
PIL

# OCR for testing
opencv-python
easyocr
pillow
